<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <!-- 同你首頁一樣，呢度可以有一個橫幅介紹呢個分類 -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.title }}</h1>
            </header>
            <div class="content">
                <p>{{ page.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main Content: The Tiles -->
    <div id="main">
        <section id="one" class="tiles">
            {% for post in paginator.posts %}
                {% if post.category == 'Life' %}
                    <article class="style{{ forloop.index | modulo: 6 | plus: 1 }}">
                        <span class="image">
                            <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}" />
                        </span>
                        <a href="{{ post.url | relative_url }}">
                            <h2>{{ post.title }}</h2>
                            <div class="content">
                                <!-- 加入日期，並設定格式 -->
                                <p>{{ post.date | date: "%Y-%m-%d" }}</p>
                                <!-- 副標題可以放喺度 -->
                                <p>{{ post.subtitle }}</p>
                            </div>
                        </a>
                    </article>
                {% endif %}
            {% endfor %}
        </section>
        
        <!-- Pagination Links -->
        <section>
            <div class="inner">
                {% if paginator.total_pages > 1 %}
                <ul class="actions">
                    {% if paginator.previous_page %}
                        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="button">« Newer Posts</a></li>
                    {% endif %}
                    {% if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path | relative_url }}" class="button">Older Posts »</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </section>
    </div>

    {% include footer.html %}

</body>

</html>
